.serviceTicketContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.noServiceTicketTitle{
    text-align: center;
    margin-top: 15vh;
}

.serviceTicketTitle{
    text-align: center;
    margin: 50px;
}