.LoginFormContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}

.fieldset-style {
  border-radius: 5px;
  background-color: rgb(168, 166, 166);
  border: 1px solid gray;
  padding: 10px;
}

.fieldset-style input {
  width: 90%;
  padding: 5px;
  margin-top: 5px;
}
