header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.headerDark{
    background-color: #2c3e50;
    color: #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
}

.headerLight{
    background-color: #ecf0f1;
    color: #2c3e50;
    border-bottom: 1px solid #2c3e50;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav p {
    cursor: pointer;
}

header nav a{
    text-decoration: none;
    color: #2c3e50;
}

.navLinkDark{
    color: #ecf0f1;
}

.navLinkLight{
    color: #2c3e50;
}

header img{
    max-width: 65px;
    border-radius: 100%;
    border: 2px solid black;
    cursor: pointer;
}

header h1{
    cursor: pointer;
}

