.darkFooter{
    background-color: rgb(19, 19, 19);
    color: #969696;
    border-top: 1px solid #ecf0f1;
}

.lightFooter{
    background-color: #969696;
    color:  rgb(19, 19, 19);
    border-top: 1px solid rgb(19, 19, 19);
}

footer{
    display: block;
    margin-bottom: 0;
    padding: 10px;
    text-align: center; 
}

.footerColumn{
    display: flex;
    justify-content: space-around;
}

.contactUsFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.contactUsFooter ul{
    list-style-type: none; 
    text-align: left;
    line-height: 25px;
}

.footer-bottom{
    margin-top: 50px;
}