*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.submitBtn{
  background-color: rgb(3, 250, 167);
  border-radius: 8px;
  border: 2px solid rgb(0, 143, 95);
  padding: 10px;
  width: 80%;
  align-self: center;
  font-size: 15px;
  font-weight:bold;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}

.fieldset-style {
  border-radius: 5px;
  background-color: rgb(168, 166, 166);
  border: 1px solid gray;
  padding: 10px;
}

.fieldset-style input {
  width: 90%;
  padding: 5px;
  margin-top: 5px;
}

.link{
  color: gray;
}