*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.submitBtn{
  background-color: rgb(3, 250, 167);
  border-radius: 8px;
  border: 2px solid rgb(0, 143, 95);
  padding: 10px;
  width: 80%;
  align-self: center;
  font-size: 15px;
  font-weight:bold;
}